{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-lg-12 col-md-0 col-sm-0 col-xs-0 d-flex justify-content-around">
            <a class="mr-3" href="/vehiculo/new"><img src="/comunes/icon/anadir.png" width="50px" height="50px" /></a>
            {# Mostrar opciones de busqueda #}
            <form action="/buscador" method="post" class="form-group d-flex justify-content-between align-items-center buscador">
                <label for="marcas">Marca:</label>
                <select name="marcas" id="marcas" class="form-control border border-success mr-4">
                    <option value="" selected>Seleccionar</option>
                    {% for marca in marcas %}
                        <option value="{{ marca }}">{{ marca|upper }}</option>
                    {% endfor %}
                </select>
                <label for="modelos">Modelos:</label>
                <select name="modelos" id="modelos" class="form-control border border-success mr-4">
                    <option value="" selected>Seleccionar</option>
                    {% for modelo in modelos %}
                        <option value="{{ modelo }}">{{ modelo|upper }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-success" type="submit" name="buscar" />
            </form>
        </div>
    </div>

    <hr class="bg-dark" />

    <div class="row mt-5">
        <div class="col-lg-12 col-md-0 col-sm-0 col-xs-0 d-flex flex-column justify-content-around">
            {# Mostrar vehículos #}
            {% for vehicle in vehicles %}
                {% if vehicle.eliminado == false and vehicle.venta == true %}
                    <div class="vehicles">
                        Marca: {{ vehicle.marca }}
                        Modelo: {{ vehicle.modelo }}
                        {{ vehicle.propietario.email }}
                        {{ vehicle.fechaModificacion|date('Y-m-d H:i:s') }}
                        Fotos:
                        <br/>
                        {% for foto in vehicle.images %}
                            <img src="/img/{{ foto }}" />
                        {% endfor %}
                        {% if vehicle.propietario.id != app.user.id %}
                            <button><a href="{{ path('message_new', {'receptor': vehicle.propietario.id, 'emisor': user.id, 'id': vehicle.id, 'vehiculo': vehicle.id}) }}">Enviar mensaje</a></button>
                        {% else %}
                            <button><a href="/vehiculo/{{ vehicle.id }}/edit">Editar anuncio vehículo</a></button>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            {# Paginación #}
            
            <div class="d-flex justify-content-center align items-center mb-2">
                <nav aria-label="page">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link pulsar" href="/page/first"><<</a>
                        </li>
                        {% for contador in 0 .. contadorTotal %}
                            <li class="page-item">
                                <a class="page-link pulsar" href="/page/{{contador}}">
                                    {{ contador + 1 }}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="page-item">
                            <a class="page-link pulsar" href="/page/last">>></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
