{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    {# Mostrar opciones de busqueda #}
    <form action="/buscador" method="post">
        <select name="marcas" id="marcas">
            <option value="" selected>Seleccionar</option>
            {% for marca in marcas %}
                <option value="{{ marca }}">{{ marca|upper }}</option>
            {% endfor %}
        </select>
        <select name="modelos" id="modelos">
            <option value="" selected>Seleccionar</option>
            {% for modelo in modelos %}
                <option value="{{ modelo }}">{{ modelo|upper }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="buscar" />
    </form>

    {# Mostrar vehículos #}
    {% for vehicle in vehicles %}
        {% if vehicle.eliminado == false and vehicle.venta == true %}
            <div class="vehicles">
                Marca: {{ vehicle.marca }}
                Modelo: {{ vehicle.modelo }}
                {{ vehicle.propietario.email }}
                {{ vehicle.fechaModificacion|date('Y-m-d H:i:s') }}
                Fotos:
                <br/>
                {% for foto in vehicle.images %}
                    <img src="/img/{{ foto }}" />
                {% endfor %}
                {% if vehicle.propietario.id != app.user.id %}
                    <button><a href="{{ path('message_new', {'receptor': vehicle.propietario.id, 'emisor': user.id, 'id': vehicle.id, 'vehiculo': vehicle.id}) }}">Enviar mensaje</a></button>
                {% else %}
                    <button><a href="/vehiculo/{{ vehicle.id }}/edit">Editar anuncio vehículo</a></button>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

    {# Paginación #}
    <div class="page">
        <button><a href="/page/first"><<</a></button>
        {% for contador in 0 .. contadorTotal %}
            <button><a href="/page/{{contador}}">{{ contador + 1 }}</a></button>
        {% endfor %}
        <button><a href="/page/last">>></a></button>
    </div>
{% endblock %}
