{% extends 'base.html.twig' %}

{% block title %}Mensajes{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <div class="row d-flex justify-content-center mt-5 mb-5 exportar">
            <div class="col-lg-6 col-md-2 col-sm-0 col-xs-0">
                <h3 class="pb-5 text-center">Mensajes:</h3>
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-mensajesReportados-tab" data-toggle="pill" href="#v-pills-mensajesReportados" role="tab" aria-controls="v-pills-mensajesReportados" aria-selected="true">Mensajes reportados</a>
                        <a class="nav-link" id="v-pills-mensajesRecibidos-tab" data-toggle="pill" href="#v-pills-mensajesRecibidos" role="tab" aria-controls="v-pills-mensajesRecibidos" aria-selected="false">Mensajes recibidos</a>
                        <a class="nav-link" id="v-pills-mensajesEnviados-tab" data-toggle="pill" href="#v-pills-mensajesEnviados" role="tab" aria-controls="v-pills-mensajesEnviados" aria-selected="true">Mensajes enviados</a>
                    </div>
                    <div class="tab-content pildora-content pl-4" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-mensajesReportados" role="tabpanel" aria-labelledby="v-pills-mensajesReportados-tab">
                            <div class="mensajesReportados">
                                {% for message in messages %}
                                    {% if  message.reportado == true and message.visto != true %}
                                        &#x1f6a9;&#xfe0e; {{ message.texto }} - Emisor: {{ message.user.email }} - {{ message.fechaEnvio|date("Y-m-d") }}
                                        <button><a href="/respuesta/{{ message.id }}">Ver mensaje</a></button>
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-mensajesRecibidos" role="tabpanel" aria-labelledby="v-pills-mensajesRecibidos-tab">
                            <div class="mensajesRecibidos">
                                {% for messageRecibido in messagesRecibidos %}
                                    {% if messageRecibido.oculto != true %}
                                        {% if messageRecibido.visto == false %}
                                            &#x1f4ec;&#xfe0e; {{ messageRecibido.texto }} - Emisor: {{ messageRecibido.emisor }} - {{ messageRecibido.fechaEnvio|date("Y-m-d") }}
                                            <button><a href="/messageVisto/{{ messageRecibido.id }}">Ver mensaje</a></button>
                                            <br/>
                                        {% else %}
                                            &#x1f4ed;&#xfe0e; {{ messageRecibido.texto }} - Emisor: {{ messageRecibido.emisor }} - {{ messageRecibido.fechaLectura|date("Y-m-d") }}
                                            <button><a href="/messageVisto/{{ messageRecibido.id }}">Ver mensaje</a></button>
                                            <br/>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-mensajesEnviados" role="tabpanel" aria-labelledby="v-pills-mensajesEnviados-tab">
                            <div class="mensajesEnviados">
                                {% for messageEnviado in messagesEnviados %}
                                    {% if messageEnviado.oculto != true %}
                                        {% if messageEnviado.visto == false %}
                                            &#x1f4ec;&#xfe0e; {{ messageEnviado.texto }} - Receptor: {{ messageEnviado.receptor }} - {{ messageEnviado.fechaEnvio|date("Y-m-d") }}
                                            <button><a href="/messageVisto/{{ messageEnviado.id }}">Ver mensaje</a></button>
                                            <br/>
                                        {% else %}
                                            &#x1f4ed;&#xfe0e; {{ messageEnviado.texto }} - Receptor: {{ messageEnviado.receptor }} - {{ messageEnviado.fechaLectura|date("Y-m-d") }}
                                            <button><a href="/messageVisto/{{ messageEnviado.id }}">Ver mensaje</a></button>
                                            <br/>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}