{% extends 'base.html.twig' %}

{% block title %}Exportar usuarios{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center mt-5 mb-5 exportar">
        <div class="col-lg-6 col-md-2 col-sm-0 col-xs-0">
            <h3 class="pb-5 text-center">Exportación de datos:</h3>
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-usuarios-tab" data-toggle="pill" href="#v-pills-usuarios" role="tab" aria-controls="v-pills-usuarios" aria-selected="true">Usuarios</a>
                    <a class="nav-link" id="v-pills-mensajesReportados-tab" data-toggle="pill" href="#v-pills-mensajesReportados" role="tab" aria-controls="v-pills-mensajesReportados" aria-selected="false">Mensajes reportados</a>
                    <a class="nav-link" id="v-pills-vehiculosReportados-tab" data-toggle="pill" href="#v-pills-vehiculosReportados" role="tab" aria-controls="v-pills-vehiculosReportados" aria-selected="true">Vehiculos reportados</a>
                </div>
                <div class="tab-content pildora-content pl-4" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-usuarios" role="tabpanel" aria-labelledby="v-pills-usuarios-tab">
                        <div class="usuarios pildora-border pl-1 pt-1 pr-2 text-dark d-flex flex-wrap justify-content-between">
                            <ol>
                                {% for user in users %}
                                    {% if user.email != "root@gmail.com" %}
                                        <li>{{ user.email }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                            <button class="btn btn-primary d-flex align-self-center" onClick="exportarCorreos();">Exportar correos</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-mensajesReportados" role="tabpanel" aria-labelledby="v-pills-mensajesReportados-tab">
                        <div class="mensajesReportados pildora-border pl-1 pt-1 pr-2 text-dark d-flex flex-wrap justify-content-between">
                            <ol>
                                {% for mensajeReportado in mensajesReportados %}
                                    <li>{{ mensajeReportado.texto }} - {{ mensajeReportado.fechaEnvio|date("Y-m-d") }}</li>
                                {% endfor %}
                            </ol>
                            <button class="btn btn-primary d-flex align-self-center" onClick="exportarMensajesReportados();">Exportar mensajes reportados</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-vehiculosReportados" role="tabpanel" aria-labelledby="v-pills-vehiculosReportados-tab">
                        <div class="vehiculosReportados pildora-border pl-1 pt-1 pr-2 text-dark d-flex flex-wrap justify-content-between">
                            <ol>
                                {% for vehiculoReportado in vehiculosReportados %}
                                    <li>Marca: {{ vehiculoReportado.marca }} - Modelo: {{ vehiculoReportado.modelo }} - Propietario: {{ vehiculoReportado.propietario.email }}</li>
                                {% endfor %}
                            </ol>
                            <button class="btn btn-primary d-flex align-self-center" onClick="exportarVehiculosReportados();">Exportar vehiculos reportados</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function exportarCorreos() {

            function fail(data) {
                alert("Exportar correos fallido.");
            }

            $.ajax({
                type: "GET",
                url: "/exportarUsuarios",
                success: function(data)  { 
                    var blob = new Blob([data]); 
                    var link = document.createElement('a'); 
                    link.href = window.URL.createObjectURL(blob); 
                    link.download = "correos.csv"; 
                    link.click(); 
                },
                error: fail
            });
        }

        function exportarMensajesReportados() {

            function fail(data) {
                alert("Exportar correos fallido.");
            }

            $.ajax({
                type: "GET",
                url: "/exportarMensajesReportados",
                success: function(data)  { 
                    var blob = new Blob([data]); 
                    var link = document.createElement('a'); 
                    link.href = window.URL.createObjectURL(blob); 
                    link.download = "correos.csv"; 
                    link.click(); 
                },
                error: fail
            });
        }

        function exportarVehiculosReportados() {

            function fail(data) {
                alert("Exportar correos fallido.");
            }

            $.ajax({
                type: "GET",
                url: "/exportarVehiculosReportados",
                success: function(data)  { 
                    var blob = new Blob([data]); 
                    var link = document.createElement('a'); 
                    link.href = window.URL.createObjectURL(blob); 
                    link.download = "correos.csv"; 
                    link.click(); 
                },
                error: fail
            });
        }
    </script>
{% endblock %}