{% extends 'base.html.twig' %}

{% block title %}Respuestas Correo{% endblock %}

{% block body %}
    {% for respuesta in message.respuestas %}
        <div>
            {{ respuesta.texto }}
            {{ respuesta.fecha|date("Y-m-d") }}
            {{ respuesta.autor }}
        </div>
    {% endfor %}

    <button><a href="/respuesta/new/{{ message.id }}">Responder</a></button>
    {% if message.reportado == true and is_granted("ROLE_ADMIN") %}
        <button onClick="eliminar({{ message.id }}, {{message.vehiculoMessage.id}});">Eliminar</button>
    {% endif %}
    {% if message.oculto == false %}
        <button onClick="comprar({{ message.id }}, {{message.vehiculoMessage.id}});">Comprar</button>
        <button onClick="reportar({{ message.id }});">Reportar</button>
    {% endif %}

    <script>
        function reportar(message) {

            function fail(data) {
                alert("Error de AJAX: " + data);
            }

            $.ajax({
                type: "GET",
                url: "/reportarMensajeVehiculo",
                data: {'mensaje':message},
                success: function(data) {
                    if(data == "1") {
                        alert("Mensaje reportado correctamente.");
                    }
                },
                error: fail
            });
        }

        function eliminar(message, vehicle) {

            var datos = {
                'mensaje':message,
                'vehiculo':vehicle
            };

            function fail(data) {
                alert("Error de AJAX: " + data);
            }

            $.ajax({
                type: "GET",
                url: "/eliminarMensajeVehiculo",
                data: datos,
                success: function(data) {
                    if(data == "1") {
                        alert("Mensaje y vehículo eliminados correctamente debido a que se ha comprobado el reporte.");
                    }
                },
                error: fail
            });
        }

        function comprar(message, vehicle) {

            var datos = {
                'mensaje':message,
                'vehiculo':vehicle
            };

            function fail(data) {
                alert("Error de AJAX: " + data);
            }

            $.ajax({
                type: "GET",
                url: "/comprarVehiculo",
                data: datos,
                success: function(data) {
                    if(data == "1") {
                        alert("Vehiculo comprado correctamente y mensajes ocultados junto al buscador.");
                        window.location.reload();
                    }
                },
                error: fail
            });
        }
    </script>

{% endblock %}