{% extends 'base.html.twig' %}

{% block title %}Vehiculo index{% endblock %}

{% block body %}
    <h1>Vehiculo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>FechaModificacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ vehiculo.id }}</td>
                <td>{{ vehiculo.Modelo }}</td>
                <td>{{ vehiculo.Marca }}</td>
                <td>{{ vehiculo.fechaModificacion ? vehiculo.fechaModificacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('vehiculo_show', {'id': vehiculo.id}) }}">show</a>
                    <a href="{{ path('vehiculo_edit', {'id': vehiculo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehiculo_new') }}">Create new</a>
{% endblock %}
