{% extends 'base.html.twig' %}

{% block title %}Vehiculo{% endblock %}

{% block body %}
    <h1>Vehiculo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehiculo.id }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>{{ vehiculo.Modelo }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ vehiculo.Marca }}</td>
            </tr>
            <tr>
                <th>FechaModificacion</th>
                <td>{{ vehiculo.fechaModificacion ? vehiculo.fechaModificacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehiculo_index') }}">back to list</a>

    <a href="{{ path('vehiculo_edit', {'id': vehiculo.id}) }}">edit</a>

    {{ include('vehiculo/_delete_form.html.twig') }}
{% endblock %}
