{% extends 'base.html.twig' %}

{% block title %}Respuesta{% endblock %}

{% block body %}
    <h1>Respuesta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ respuestum.id }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ respuestum.texto }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ respuestum.fecha ? respuestum.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ respuestum.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ respuestum.autor }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ respuestum.foto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('respuesta_index') }}">back to list</a>

    <a href="{{ path('respuesta_edit', {'id': respuestum.id}) }}">edit</a>

    {{ include('respuesta/_delete_form.html.twig') }}
{% endblock %}
