{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ message.texto }}</td>
            </tr>
            <tr>
                <th>Emisor</th>
                <td>{{ message.emisor }}</td>
            </tr>
            <tr>
                <th>Receptor</th>
                <td>{{ message.receptor }}</td>
            </tr>
            <tr>
                <th>FechaEnvio</th>
                <td>{{ message.fechaEnvio ? message.fechaEnvio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ message.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>FechaLectura</th>
                <td>{{ message.fechaLectura ? message.fechaLectura|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('message_index') }}">back to list</a>

    <a href="{{ path('message_edit', {'id': message.id}) }}">edit</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
